*{
    padding: 0;
    margin: 0;
    font-family: Tahoma,Arial,sans-serif;
}
body{
    justify-content: center;
    display: flex;
    align-items: center;
}
form#form-contact{
    border: 2px solid #e6e6e6;
    border-radius: 5px;
    margin-top: 40px;
    padding: 30px;
    outline: 10px solid #e6e6e6;
    width: 500px;
    height: 600px;
}
p.title-form{
    margin-top: 30px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: #30302d;
}
.alpha{
    float: left;
}
.omega {
    float: right;
}
input{
    border-radius: 0 0 10px 10px;
    border: none;
    background: #f7f7f7;
}
.form-fullname,.form-messenge, .form-phone, .form-email, .form-services{
    border-radius: 10px;
    background-color: #f7f7f7;
    border: 1px solid #f2f2f2;
    margin-top: 20px;
}
.form-fullname input ,.form-services input, .form-messenge input{
    padding: 10px 309px 15px 10px;
}
.form-email input, .form-phone input{
    padding: 10px 60px 15px 10px;
}
label{
    margin-left: 10px;
    font-size: 12px;
    font-weight: bold;
    color: #8f8f8b;
}
.fill-wapper{
    margin-top: 10px;
}
.input-email-phone{
    margin-bottom: 110px;
}
div.button{
    margin-top: 50px;
    text-align: center;
    padding: 15px;
    width: 460px;
    height: 10px;
    border: 1px solid #333333;
    border-radius: 40px;
    background-color: #333333;
}
p.content-button{
    margin-top: -5px;
    color: white;
    font-weight: bold;
}