* {
    padding: 0;
    margin: 0;
    font-family: Tahoma, Arial, sans-serif;
}

body {
    justify-content: center;
    display: flex;
    align-items: center;
}
div.backgroupform{
    background: url("9232819ca920640224028dce76f11a7d.jpg");
    width: 1000px;
    height: 800px;
}
form#form-contact {
    margin-right: auto;
    margin-left: auto;
    border: 10px solid white;
    border-radius: 20px;
    margin-top: 40px;
    padding: 30px;
    width: 500px;
    height: 650px;
    text-align: center;
    background: white;
}

p.title-form {
    margin-top: 30px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: #481e4f;
    margin-bottom: 60px;
}

input {
    border: none;
    box-shadow: 0 5px 5px 5px #f3f3f3;
    border-radius: 30px;
    margin-bottom: 10px;
}
::placeholder{
    color: #64466f;
    font-weight: bold;
    font-size: 14px;
}

.form-fullname input, .form-messenge input {
    padding: 20px 100px 20px 20px;
}
.fill-wapper {
    margin-top: 10px;
}

.input-email-phone {
    margin-bottom: 110px;
}

div.button {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-align: center;
    padding: 20px;
    width: 130px;
    height: 10px;
    border-radius: 40px;
    background-color: #bd59d7;
    box-shadow: 0px 10px 10px 10px #edd6f5;
}

p.content-button {
    margin-top: -5px;
    color: white;
    font-weight: bold;
}
p.content-or{
    margin-top: 70px;
    text-align: center;
    color: #d1d1d1;
}
div.icon-inpiniti{
    text-align: center;
    margin-top: 20px;
}
div.icon-inpiniti a img{
    background: #f5f4f4;
    padding: 8px;
    border-radius: 50%;
    border: 1px solid #f5f4f4;
    margin-left: 10px;
}
p.content-signup{
    color: #b1a4b3;
    font-size: 15px;
    font-weight: bold;
    margin-top: 100px;
}